<div class="flex flex-col items-center justify-center">
  <div class="hero relative" style="min-height: calc(100vh - 80px);">
    <%= image_tag "sova_recon_bolt.png", class: "absolute inset-0 w-full h-full object-cover" %>

    <div class="hero-overlay bg-black bg-opacity-20 relative z-10"></div>

    <div class="hero-content text-neutral-content text-center relative z-10">
      <div class="max-w-xl">
        <h1 class="mb-5 text-5xl md:text-7xl font-bold text-white">V-TACTICS</h1>
        <p class="mb-14 text-white">
          VALORANTプレイヤーにとって、<br>
          初心者にはわかりづらく、慣れたプレイヤーでも決まった行動をしがちな<br>
          「テクニック」をすぐに引き出せるサービス。
        </p>

        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
          <%= link_to "早速使ってみる！", techniques_path, class: "btn bg-valorant-color text-white border-valorant-color" %>
          <% if user_signed_in? %>
            <%= link_to "お気に入り登録した「テクニック」を見る（マイページへ）", favorites_technique_path(current_user.id), class: "btn btn-info" %>
          <% else %>
            <%= link_to "新規登録して「テクニック」を管理する", new_user_registration_path, class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll_down" id="type07">
    <a href="#">
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
      <span class="text">Scroll</span>
    </a>
  </div>
  <p class="text-gray-500 animate-bounce"><i class="fa-solid fa-angles-down"></i></p>
</div>

<section class="flex justify-center items-center m-10">
  <div class="container">
    <p class="mb-4 text-center rounded-md bg-valorant-color px-2 py-1 text-sm">『 V-TACTICS 』を使う理由</p>
    <h2 class="text-3xl text-center font-bold lg:text-4xl">プレイしている時にこんなことを感じませんか？</h2>
    <div class="mt-10 grid gap-6 lg:mt-10 lg:grid-cols-2">
      <div class="flex items-center rounded-lg bg-zinc-100 p-5">
        <div class="mx-6">
          <div class="flex gap-4 items-center mb-6">
            <span class="flex size-12 items-center justify-center rounded-full bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-emoji-tear" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M6.831 11.43A3.1 3.1 0 0 1 8 11.196c.916 0 1.607.408 2.25.826.212.138.424-.069.282-.277-.564-.83-1.558-2.049-2.532-2.049-.53 0-1.066.361-1.536.824q.126.27.232.535.069.174.135.373ZM6 11.333C6 12.253 5.328 13 4.5 13S3 12.254 3 11.333c0-.706.882-2.29 1.294-2.99a.238.238 0 0 1 .412 0c.412.7 1.294 2.284 1.294 2.99M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5m-1.5-3A.5.5 0 0 1 10 3c1.162 0 2.35.584 2.947 1.776a.5.5 0 1 1-.894.448C11.649 4.416 10.838 4 10 4a.5.5 0 0 1-.5-.5M7 3.5a.5.5 0 0 0-.5-.5c-1.162 0-2.35.584-2.947 1.776a.5.5 0 1 0 .894.448C4.851 4.416 5.662 4 6.5 4a.5.5 0 0 0 .5-.5"/>
              </svg>
            </span>
            <h3 class="text-2xl font-medium text-valorant-color">スキルの使い方がわからない⋯。</h3>
          </div>
            <p class="leading-7">
              <span class="text-black">
                初めて使うキャラクター or 使い慣れていないキャラクターを選んでしまった。一緒に戦う仲間に迷惑をかけないか不安⋯。
              </span>
            </p>
        </div>
      </div>
      <div class="flex items-center rounded-lg bg-zinc-100 p-5">
        <div class="mx-6">
          <div class="flex gap-4 items-center mb-6">
            <span class="flex size-12 items-center justify-center rounded-full bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-emoji-dizzy" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708m-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708M10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
              </svg>
            </span>
            <h3 class="text-2xl font-medium text-valorant-color">SNSで見かけた『テクニック』を実践で使えていますか？</h3>
          </div>
          <div class="mx-6">
            <p class="leading-7">
              <span class="text-black">
                SNSでプロが使っている『テクニック』を沢山見た！<br>
                ⋯でも、「あれって、どうやるんだっけ⋯？」と、毎試合中になっていませんか？
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="cp_arrows">
  <div class="cp_arrow"></div>
  <div class="cp_arrow"></div>
  <div class="cp_arrow"></div>
</div>

<div class="mt-20 text-center items-center justify-center md:flex-col">
  <div class="text-3xl font-bold lg:text-4xl">
    そんなときに<span class="text-4xl text-valorant-color lg:text-5xl">『 V-TACTICS 』</span>！！！
  </div>
</div>

<section class="flex justify-center items-center m-10">
  <div class="container">
    <p class="text-3xl text-center underline underline-offset-4 decoration-double decoration-4 decoration-valorant-color font-bold lg:text-4xl">本サービスの特徴</p>
    <div class="mt-10 grid gap-6 lg:mt-10 lg:grid-cols-3">
      <div class="flex items-center rounded-lg bg-zinc-100 p-5">
        <div class="mx-6">
          <div class="flex gap-4 items-center mb-6">
            <span class="flex size-12 items-center justify-center rounded-full bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-emoji-neutral" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5m4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5"/>
              </svg>
            </span>
            <h3 class="text-2xl font-medium text-valorant-color">YoutubeやXに投稿された<br>テクニックを集積！</h3>
          </div>
            <p class="leading-7">
              <ul class="text-black">
                <li>・  SNSでよく見るテクニックを網羅的に見れる！</li>
                <li>・  使い方がわからない⋯。もっと高度な使い方を知りたい！という時に活用できる！</li>
              </ul>
            </p>
        </div>
      </div>
      <div class="flex items-center rounded-lg bg-zinc-100 p-5">
        <div class="mx-6">
          <div class="flex gap-4 items-center mb-6">
            <span class="flex size-12 items-center justify-center rounded-full bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-emoji-neutral" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5m4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5"/>
              </svg>
            </span>
            <h3 class="text-2xl font-medium text-valorant-color">LODING中にサッと確認！<br>すぐ実践で使える！</h3>
          </div>
            <p class="leading-7">
              <ul class="text-black">
                <li>・  Youtubeは再生開始地点を設定できるので、見たい箇所からすぐ見れる！</li>
                <li>・  未経験キャラクターや"義務ピック"時の予習に！</li>
              </ul>
            </p>
        </div>
      </div>
      <div class="flex items-center rounded-lg bg-zinc-100 p-5">
        <div class="mx-6">
          <div class="flex gap-4 items-center mb-6">
            <span class="flex size-12 items-center justify-center rounded-full bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
              </svg>
            </span>
            <h3 class="text-2xl font-medium text-valorant-color">会員登録<span class="text-xs">（無料）</span>すると、<br>テクニックの管理ができる！</h3>
          </div>
            <p class="leading-7">
              <ul class="text-black">
                <li>・  ログインすると、お気に入り機能が使用可能。</li>
                <li>・  テクニックをさらに手軽に早く見ることができる！</li>
              </ul>
            </p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="cp_arrows">
  <div class="cp_arrow"></div>
  <div class="cp_arrow"></div>
  <div class="cp_arrow"></div>
</div>


<section class="flex justify-center items-center m-10">
  <div class="container">
    <p class="mt-10 mb-4 text-center rounded-md bg-valorant-color px-2 py-1 text-sm">『 V-TACTICS 』のターゲット</p>
    <h2 class="text-3xl text-center font-bold lg:text-4xl">こんな方に使って欲しい！</h2>
    <div class="mt-10 grid gap-6 lg:mt-10 lg:grid-cols-2">
      <div class="flex items-center rounded-lg bg-zinc-100 p-5">
        <div class="mx-6">
          <div class="flex gap-4 items-center mb-6">
            <span class="flex size-12 items-center justify-center rounded-full bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-emoji-neutral" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5m4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5"/>
              </svg>
            </span>
            <h3 class="text-2xl font-medium text-valorant-color">初心者</h3>
          </div>
            <p class="leading-7">
              <ul class="text-black">
                <li>・  まだ、「VALORANT」を始めたばかりで何もわからない。</li>
                <li>・  効果的なスキルの使用タイミングや場所がわからない。</li>
              </ul>
            </p>
        </div>
      </div>
      <div class="flex items-center rounded-lg bg-zinc-100 p-5">
        <div class="mx-6">
          <div class="flex gap-4 items-center mb-6">
            <span class="flex size-12 items-center justify-center rounded-full bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
              </svg>
            </span>
            <h3 class="text-2xl font-medium text-valorant-color">中・上級者</h3>
          </div>
            <p class="leading-7">
              <ul class="text-black">
                <li>・  多くのキャラクターを使いこなせるようになりたい。</li>
                <li>・  あまり知られていないようなスキルの使い方で敵を驚かせたい。</li>
              </ul>
            </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="cp_arrows">
  <div class="cp_arrow"></div>
  <div class="cp_arrow"></div>
  <div class="cp_arrow"></div>
</div>

<div class="mt-20 text-center items-center justify-center md:flex-col">
  <div class="text-3xl font-bold lg:text-4xl">『 V-TACTICS 』は「あなただけのゲームプレイ中の"相棒"」です！</div>
  <div class="mt-4">いますぐにテクニックを学んで、敵や味方を驚かせよう！</div>
</div>

<div class="flex flex-col md:flex-row items-center justify-center gap-4 m-8">
  <%= link_to "早速使ってみる！", techniques_path, class: "btn bg-valorant-color text-white border-valorant-color" %>
  <% if user_signed_in? %>
    <%= link_to "お気に入り登録した「テクニック」を見る（マイページへ）", favorites_technique_path(current_user.id), class: "btn btn-info" %>
  <% else %>
    <%= link_to "新規登録して「テクニック」を管理する", new_user_registration_path, class: "btn btn-info" %>
  <% end %>
</div>
