<% content_for(:title, t(".title")) %>

<div class="text-center">
  <div class="text-5xl font-bold mt-8 ml-10">マイページ</div>
  <div class="text-xl font-semibold underline mt-4 ml-10">このページではお気に入りしたテクニックが確認できます</div>
</div>

<%
=begin%>

<div class="text-lg font-semibold text-center mt-4 mb-4">お気に入りフォルダ</div>
<% if @my_folders.present? %>
  <% @my_folders.each do |folder| %>
    <div class="btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
      </svg>
      <%= link_to folder.title, folder_path(folder) %>
    </div>
  <% end %>
<% else %>
  <div class="text-red-500">何もフォルダが作成されていません</div>
<% end %>

<!-- モーダル：新規フォルダ作成 -->
<button class="btn btn-primary" onclick="create_folder.showModal()">新規フォルダ作成</button>
<dialog id="create_folder" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold">新規フォルダ作成</h3>
    <%= form_with model: @folder, url: folders_path do |f| %>
      <div class="field py-2 px-4">
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "フォルダのタイトル" %>
      </div>

      <div class="actions text-center py-4 px-4">
        <%= f.submit "フォルダを作成する！", class: "btn" %>
      </div>
    <% end %>
  </div>
</dialog>

<%
=end%>

<%# フォロー中のカテゴリー表示 %>

<div class="text-center">
  <div class="text-2xl font-semibold m-8">フォロー中のカテゴリー</div>
  <div>
    <% if @followed_categories.present? %>
      <% @followed_categories.each do |category| %>
        <div class="flex justify-center items-center space-x-4 m-2">
          <%= link_to category.name, category_path(category), class: "text-blue-600 hover:underline" %>
          <%= button_to "フォロー解除", unfollow_category_path(category), method: :delete, data: { confirm: "本当にフォローを解除しますか?"}, class: "hidden h-8 w-32 rounded-full bg-red-500 font-extrabold text-white hover:bg-red-600 md:block" %>
        </div>
      <% end %>
    <% else %>
      <div>まだフォローしているカテゴリーはありません</div>
      <div><%= link_to "カテゴリー一覧を見る", categories_path %></div>
    <% end %>
  </div>
</div>

<%# お気に入りした投稿の一覧表示 %>

<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Movies
      </h3>
    </div>

  <% @youtube_techniques = @favorite_techniques.where(source_type: "youtube") %>
  <%= render "techniques/youtube_technique" %>
  </div>

  </div>
</section>

<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Posts
      </h3>
    </div>

  <% @twitter_techniques = @favorite_techniques.where(source_type: "twitter") %>
  <%= render "techniques/twitter_technique" %>
  </div>

  </div>
</section>
