<% content_for(:title, t(".title")) %>

<!-- swiper -->
<div class="my-10">
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <% youtube_techniques = @swiper_techniques.where(source_type: "youtube") %>
    <% youtube_techniques.each do |technique| %>
      <div class="swiper-slide mr-[30px] mb-8">
      <%= link_to techniques_youtube_path(technique) do %>
        <img src="https://img.youtube.com/vi/<%= technique.youtube_video_id %>/maxresdefault.jpg">

        <div class="flex flex-col gap-2 p-2">

          <div class="text-[20px] font-bold text-left line-clamp-1"><%= technique.title %></div>

          <% if technique.categories.any? %><%# if文で囲まないとgap-2が発生してしまう！ %>
            <div>
              <% technique.categories.each do |category| %>
                <%= link_to category.name, category_path(category), class: "badge badge-info" %>
              <% end %>
            </div>
          <% end %>

        </div>

      <% end %>

      <div class="flex justify-start m-2">
        <%= link_to "詳細画面へ", techniques_youtube_path(technique), class: "btn btn-primary" %>
      </div>

      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
  </div>
</div>
</div>

<!-- swiper -->

<!-- カテゴリー検索 -->
<section>
  <div class="container py-4 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Categories
      </h3>
    </div>

    <div class="mt-8 flex w-full flex-col lg:flex-row">
      <%# 初心者 %>
      <div class="card rounded-box grid min-h-32 grow place-items-center p-4">
      <div class="text-center font-bold">初心者はまずココから！</div>
        <% @beginner_categories.each do |category| %>
          <%= link_to category.name, category_path(category), class: "btn btn-sm btn-success" %>
        <% end %>
      </div>

      <div class="divider lg:divider-horizontal"></div>

      <%# エージェント %>
      <div class="card rounded-box grid min-h-32 grow place-items-center p-4">
      <div class="text-center font-bold">エージェント</div>
        <div class="flex flex-wrap justify-center gap-2">
          <% @agents_categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: "btn btn-sm btn-info" %>
          <% end %>
        </div>
      </div>

      <div class="divider lg:divider-horizontal"></div>

      <%# マップ %>
      <div class="card rounded-box grid min-h-32 grow place-items-center p-4">
      <div class="text-center font-bold">マップ</div>
        <div class="flex flex-wrap justify-center gap-2">
          <% @maps_categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: "btn btn-sm btn-warning" %>
          <% end %>
        </div>
      </div>

      <div class="divider lg:divider-horizontal"></div>

      <%# その他 %>
      <div class="card rounded-box grid min-h-32 grow place-items-center p-4">
      <div class="text-center font-bold">その他のカテゴリー</div>
        <div class="flex flex-wrap justify-center gap-2">
          <% @others_categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: "btn btn-sm" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- カテゴリー検索 -->

<%= turbo_frame_tag "youtube_section" do %>

<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Movies
      </h3>
    </div>

    <div class="mt-8 text-center">

      <%# UI切り替えの条件式 %>
      <% new_active = !params[:most_favorites].present? %>
      <% favorites_active = params[:most_favorites].present? %>

      表示順：
      <div class="join">
        <%= link_to "新着順", techniques_path, class: "join-item btn btn-sm #{'btn-success' if new_active}" %>

        <%= link_to "お気に入り数順", techniques_path(most_favorites: "true"), class: "join-item btn btn-sm #{'btn-warning' if favorites_active}" %>
      </div>
    </div>

    <%= render "techniques/youtube_technique" %>

  </div>
</section>

<% end %>


<%= turbo_frame_tag "twitter_section" do %>

<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Posts
      </h3>
    </div>

    <div class="mt-8 text-center">

      <% new_active = !params[:most_favorites].present? %>
      <% favorites_active = params[:most_favorites].present? %>

      表示順：
      <div class="join">
        <%= link_to "新着順", techniques_path, class: "join-item btn btn-sm #{'btn-success' if new_active}" %>
        <%= link_to "お気に入り数順", techniques_path(most_favorites: "true"), class: "join-item btn btn-sm #{'btn-warning' if favorites_active}" %>
      </div>
    </div>

    <%= render "techniques/twitter_technique" %>

  </div>
</section>

<% end %>
