<% content_for(:title, t(".title")) %>

<div class="text-5xl font-bold text-center m-10">検索</div>

<div class="text-center">
<%= search_form_for @q, html: { data: { turbo_frame: "search_result" } }, url: search_techniques_path, method: :get do |f| %>
  <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_techniques_path %>" role="combobox" class="relative inline-block text-left w-1/3">
    <%= f.search_field :title_cont, class: "input input-md input-bordered w-full", placeholder: "タイトル・キャラクター・マップ名で検索", data: { autocomplete_target: 'input' } %>
    <%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
    <ul class="list-group bg-white absolute z-10 w-full border border-gray-200 rounded-md shadow-lg md:text-sm" data-autocomplete-target="results"></ul>
  </div>
    <%= f.submit '検索', class: "btn" %>
<% end %>
</div>

<%= turbo_frame_tag "search_result" do %>

  <div class="text-5xl font-bold text-center m-8 underline">検索結果</div>


<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Movies
      </h3>
    </div>

    <% @youtube_techniques = @results.where(source_type: "youtube") %>
    <%= render "techniques/youtube_technique" %>
  </div>

  </div>
</section>

<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Posts
      </h3>
    </div>

    <% @twitter_techniques = @results.where(source_type: "twitter") %>
    <%= render "techniques/twitter_technique" %>
  </div>

  </div>
</section>

<% end %>