<% content_for(:title, t(".title")) %>
<div class="flex flex-col md:flex-row max-w-(--breakpoint-2xl) mx-auto px-4 py-6">

  <div class="w-full md:w-2/3 md:pr-6">
    <blockquote class="twitter-tweet">
      <a data-width="300px" data-height="500px" href="<%= @technique.x_to_twitter_change_url %>"></a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="mt-4 text-xl font-bold"><%= @technique.title %></div>


    <div class="mt-2 flex space-x-3">

      <a href="<%= @technique.source_url %>" class="btn bg-gray-500 text-white" target="_blank" rel="noopener noreferrer">Xへ</a>
      <%= link_to "https://twitter.com/intent/tweet?url=#{request.url}%0a&text=#{CGI.escape("#{@technique.title}")}&hashtags=#{CGI.escape('VTACTICS')}", target: '_blank', rel: "noopener noreferrer" do %>
        <div class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
          </svg>
          で共有する
        </div>
      <% end %>

      <% if user_signed_in? && current_user.own?(@technique) %>
        <%= link_to "編集", edit_techniques_twitter_path(@technique), id: "button-edit-#{@technique.id}", class: "btn" %>
        <%= link_to "削除", techniques_twitter_path(@technique), id: "button-destroy-#{@technique.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "btn" %>
      <% end %>

      <!-- マイフォルダに保存 ボタン -->
      <div class="tooltip" data-tip="もうすぐ実装予定！">
        <a href="#" class="btn btn-primary">マイフォルダに保存</a>
      </div>
    </div>

  </div>


  <!-- おすすめツイート -->
  <div class="w-full md:w-1/3 mt-6 md:mt-0">
    <h2 class="text-lg font-semibold mb-4">おすすめポスト</h2>

    <% @recommend_techniques.each do |technique| %>

      <%= link_to technique.title, techniques_twitter_path(technique), class: "text-sm font-medium" %>

      <blockquote class="twitter-tweet">
        <a href="<%= technique.x_to_twitter_change_url %>"></a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <% end %>

  </div>
</div>
