<% content_for(:title, t(".title")) %>
<div class="flex flex-col md:flex-row max-w-screen-2xl mx-auto px-4 py-6">
  <!-- メイン動画 -->
  <div class="w-full md:w-2/3 md:pr-6">
    <div class="w-full aspect-video bg-gray-800">
      <iframe class="w-full aspect-video"
              src="https://www.youtube.com/embed/<%= @technique.embed_id_from_youtube_url %>&amp;start=<%= @technique.calculate_video_timestamp %>"
              frameborder="0"
              allowfullscreen>
      </iframe>
    </div>

    <div class="mt-4 text-xl font-bold"><%= @technique.title %></div>
    <div class="mt-2 text-md font-bold">元動画：<%= @movie_title %></div>

    <div class="mt-4 mb-4">
    <% @technique.categories.each do |category| %>
      <span class="badge badge-outline badge-primary"><%= category.name %></span>
    <% end %>
    </div>

    <div class="mt-2 flex space-x-3">

      <a href="https://www.youtube.com/watch?v=<%= @technique.only_id_from_youtube_url %>" class="btn bg-red-500 text-white" target="_blank" rel="noopener noreferrer">YouTubeへ</a>
      <%= link_to "https://twitter.com/intent/tweet?url=#{request.url}%0a&text=#{CGI.escape("#{@technique.title}")}&hashtags=#{CGI.escape('VTACTICS')}", target: '_blank', rel: "noopener noreferrer" do %>
        <div class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
          </svg>
          で共有する
        </div>
      <% end %>

      <% if user_signed_in? && current_user.own?(@technique) %>
        <%= link_to "編集", edit_techniques_youtube_path(@technique), id: "button-edit-#{@technique.id}", class: "btn" %>
        <%= link_to "削除", techniques_youtube_path(@technique), id: "button-destroy-#{@technique.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "btn" %>
      <% end %>

      <!-- マイフォルダに保存 ボタン -->
      <div class="tooltip" data-tip="もうすぐ実装予定！">
        <a href="#" class="btn btn-primary">マイフォルダに保存</a>
      </div>

      <%# お気に入りボタン %>
      <% if user_signed_in? %>
        <% if current_user.favorite?(@technique) %>
          <%= link_to favorite_path(current_user.favorites.find_by(technique_id: @technique.id)), data: { turbo_method: :delete }, class: "btn btn-dash btn-warning" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
              <span class="relative">お気に入り解除</span>
          <% end %>
        <% else %>
          <%= link_to favorites_path(technique_id: @technique.id), data: { turbo_method: :post }, class: "btn btn-soft btn-warning" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
            </svg>
            <span>お気に入り</span>
          <% end %>
        <% end %>
      <% end %>

    </div>

  </div>

  <!-- おすすめ動画 -->
  <div class="w-full md:w-1/3 mt-6 md:mt-0">
    <h2 class="text-lg font-semibold mb-4">おすすめ動画</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">

    <% @recommend_techniques.each do |technique| %>

      <div class="flex space-x-3">
        <img class="w-32 h-18 object-cover rounded-lg bg-gray-300" src="https://img.youtube.com/vi/<%= technique.only_id_from_youtube_url %>/maxresdefault.jpg">
        <div class="flex-1">
          <span><%= link_to technique.title, techniques_youtube_path(technique), class: "text-sm font-medium" %></span>
        </div>
      </div>

    <% end %>

    </div>
  </div>
</div>
