<div class="relative mx-auto max-w-7xl">
  <% if @youtube_categories_techniques.present? %>
    <div class="mx-auto mt-8 grid max-w-lg gap-12 lg:max-w-none lg:grid-cols-3">
      <% @youtube_categories_techniques.each do |technique| %>
        <div class="mb-12 flex flex-col overflow-hidden">
          <%= link_to techniques_youtube_path(technique), data: { turbo_frame: "_top" } do %>

            <%# youtube %>
            <div class="shrink-0">
              <iframe class="w-full aspect-video"
                      src="https://www.youtube.com/embed/<%= technique.youtube_video_id %>?start=<%= technique.calculate_video_timestamp %>"
                      frameborder="0"
                      allowfullscreen>
              </iframe>
            </div>

            <%# テキスト情報 %>
            <div class="flex flex-1 flex-col justify-between pt-6 pl-6 pr-6">
              <div class="flex-1">
                <div class="flex text-sm">
                  <span>開始地点: <%= technique.video_timestamp %></span>
                </div>

                <div class="mt-2 mb-2">
                  <% technique.categories.each do |category| %>
                    <%= link_to category.name, category_path(category), data: { turbo_frame: "_top" }, class: "badge badge-info" %>
                  <% end %>
                </div>

                <div class="mt-3 block">
                  <h3 class="text-2xl font-semibold leading-none tracking-tighter mb-4">
                    <%= technique.title %>
                  </h3>
                  <%# p class="text-lg font-normal mb-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                    facilis asperiores porro quaerat doloribus, eveniet dolore.
                    Adipisci tempora aut inventore optio animi., tempore
                    temporibus quo laudantium.
                  </p%>
                </div>
              </div>

            </div>

            <div class="flex justify-center items-center gap-2 mt-2">
              <%= link_to "詳細画面へ", techniques_youtube_path(technique), data: { turbo_frame: "_top" }, class: "btn btn-primary" %>
              <div id="<%= dom_id(technique, :favorite_button) %>">
                <%= render "techniques/favorite_button", technique: technique %>
              </div>
            </div>

          <% end %>

        </div>
      <% end %>
    </div>

  <% else %>

    <div class="mt-6 flex justify-center">
      <div role="alert" class="alert alert-warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
        <span>YouTubeのテクニックは投稿されていません</span>
      </div>
    </div>

  <% end %>

  </div>
</div>