<div class="text-center">
  <div class="text-6xl font-bold m-8">「<%= @category.name %>」に関連するテクニック</div>
  <div class="m-8">
    <% if user_signed_in? %>
      <% if current_user.following_categories.include?(@category) %>
        <div class="btn btn-wide"><%= button_to "フォロー解除", unfollow_category_path(@category), method: :delete, data: { confirm: "本当にフォローを解除しますか？" } %></div>
      <% else %>
        <div class="btn btn-primary btn-wide"><%= button_to "フォローする", follow_category_path(@category), method: :post %></div>
      <% end %>
    <% else %>
      <p>フォロー機能を利用するには<a href="<%= new_user_session_path %>">ログイン</a>してください。</p>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "youtube_section" do %>

<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Movies
      </h3>
    </div>

    <div class="mt-8 text-center">

      <%# UI切り替えの条件式 %>
      <% new_active = !params[:most_favorites].present? %>
      <% favorites_active = params[:most_favorites].present? %>

      表示順：
      <div class="join">
        <%= link_to "新着順", category_path(@category), class: "join-item btn btn-sm #{'btn-success' if new_active}" %>

        <%= link_to "お気に入り数順", category_path(@category, most_favorites: "true"), class: "join-item btn btn-sm #{'btn-warning' if favorites_active}" %>
      </div>
    </div>

    <%= render "categories/youtube_technique" %>

  </div>
</section>

<% end %>


<%= turbo_frame_tag "twitter_section" do %>

<section>
  <div class="container py-8 mx-auto">
    <div class="border-b border-gray-600 pb-4">
      <h3 class="text-xl text-center font-semibold leading-6">
        Posts
      </h3>
    </div>

    <div class="mt-8 text-center">

      <% new_active = !params[:most_favorites].present? %>
      <% favorites_active = params[:most_favorites].present? %>

      表示順：
      <div class="join">
        <%= link_to "新着順", category_path(@category), class: "join-item btn btn-sm #{'btn-success' if new_active}" %>
        <%= link_to "お気に入り数順", category_path(@category, most_favorites: "true"), class: "join-item btn btn-sm #{'btn-warning' if favorites_active}" %>
      </div>
    </div>

    <%= render "categories/twitter_technique" %>

  </div>
</section>

<% end %>
